@import "~react-vis/dist/style";

html,
body {
  font-family: "Roboto", sans-serif;
}

.mobile-only {
  display: none;
  text-align: center;
  font-size: 2em;
  color: hotpink;
  @media only screen and (max-width: 1000px) {
    display: block;
  }
}
