@import "~react-vis/dist/style";

:root {
  --cell-size: 20px;
}

.grid {
  .row {
    display: flex;
    .cell {
      border: solid 1px grey;
      height: var(--cell-size);
      width: var(--cell-size);
      &.alive {
        background-color: green;
      }
    }
  }
}
